body {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
}

strong {
    line-height: 1.5em;
}

#lobby, #game, #results {
    display: none;
}

#newGame, #start {
    /* position: absolute;
    bottom: 0; */
    margin: 20px 0;
}

.spy {
    text-align: center;
    background: #c94c4c;
    color: white;
    font-weight: bold;
    padding: 20px 0;
}

.resistance {
    text-align: center;
    background: #034f84;
    color: white;
    padding: 20px 0;
    font-weight: bold;
}

.observer {
    text-align: center;
    background: #888888;
    color: white;
    padding: 20px 0;
    font-weight: bold;
}

.wide-button {
    width: 300px;
    padding: 8px;
    display: inline-block;
    margin: 0 auto;
}

.player-count {
    padding: 20px 0;
    background: #deeaee;
    text-align: center;
}

#playerList {
    font-size: 14px;
}

#playerList li {
    background: lightgreen;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block !important;
    min-height: 1.5em;
}

.centered {
    text-align: center;
    padding: 10px 0;
    margin-right: auto;
    margin-left: auto;
}

li {
    padding: 4px 8px;
    display: inline-block;
    margin: 2px;
    font-size: 14px;
    min-width: 140px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.1);
}

#game_list {
    text-align: center;
    padding: 10px 10px;
    max-width: 600px;
}

.game-option, .custom-card {
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
    outline: none;
    min-width: 145px;
}
.smaller {
    font-size: 12px;
}
#cards_available ul {
    margin-top: 10px;
}

.custom-card {
    padding: 6px;
}

.sensitive {
    display: none
}

.cards-section {
    margin: 8px 0 2px;
    font-size: 14px;
}

.button-vote-up:before {
    content: '⇧ ';
}
.button-vote-up {
    color: white;
    background: rgb(28, 184, 65); /* this is a green */
}

.button-vote-down:before {
    content: '⇩ ';
}
.button-vote-down {
    color: white;
    background: #c94c4c;
}

.matrix {
    display: inline-block;
    clear: both;
}

.matrix-cell {
    display: inline-block;
    margin: 1px;
    padding: 4px;
    font-size: 12px;
    text-align: center;
    min-width: 25px;
}

.matrix-label {
    min-width: 110px;
    font-weight: bold;
    text-align: right;
    margin-right: 4px;
}

.matrix-role {
    background-color: #eeeeee;
}

.matrix-row {
    overflow: auto;
    text-align: left;
}


.spy-player {
    background: rgba(201, 76, 76, 0.35);
}

.resistance-player {
    background: rgba(3, 79, 132, 0.25);
}
.possible-imposter-player {
    background: #cbcbcb;
}
.resistence-imposter {
    color: #034f84;
}
.spy-imposter {
    color: #c94c4c;
}
