body {
    font-family: Verdana, Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
}

strong {
    line-height: 1.5em;
}

#lobby, #game, #results {
    display: none;
}

#newGame, #start {
    /* position: absolute;
    bottom: 0; */
    margin: 20px 0;
}


.wide-button {
    width: 300px;
    padding: 8px;
    display: inline-block;
    margin: 0 auto;
}

.wide-text-input {
    width: 300px;
    padding: 4px;
    display: inline-block;
    margin: 0 auto;
}

.player-count {
    padding: 20px 0;
    background: #deeaee;
    text-align: center;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block !important;
    min-height: 1.5em;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section {
    text-align: center;
    padding: 10px 0;
}

li {
    padding: 4px 8px;
    display: inline-block;
    margin: 2px;
    min-width: 120px;
    border-radius: 8px;
    background: #AAB8C2;
}

#game_list {
    text-align: center;
    padding: 10px 10px;
}

.game-option, .custom-card {
    line-height: 16px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
    outline: none;
    min-width: 140px;
}
.smaller {
    font-size: 14px;
}

#cards_available ul {
    margin-top: 10px;
}

.custom-card {
    padding: 6px;
}

#sensitive_msg {
    background: rgba(0, 0, 0, 0.05);
    padding: 6px;
    margin: 0px;
    border-radius: 8px;
}
#sensitive_msg :last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.sensitive {
    background: white;
    display: none;
}

.cards-section {
    margin: 8px 0 2px;
}

button, li {
    background: #F5F8FA;
    border: 1px solid #CCD6DD;
    padding: 4px 6px;
    border-radius: 8px;
    font: inherit;
    box-shadow: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.matrix {
    display: inline-block;
    clear: both;
}

.matrix-cell {
    display: inline-block;
    margin: 1px;
    padding: 4px 6px;
    font-size: 12px;
    text-align: center;
    min-width: 25px;
    border-radius: 4px;
}

.matrix-label {
    min-width: 110px;
    font-weight: bold;
    text-align: right;
    margin-right: 4px;
}

.matrix-role {
    background-color: #eeeeee;
}

.matrix-row {
    margin-top: 8px;
    overflow: auto;
    text-align: left;
}

.playerList li {
    color: #14171A;
    background: white;
    text-decoration: underline;
    border: none;
    font-size: 10px;
    min-width: auto;
    padding: 2px;
    line-height: 1.1em;
}

.spy {
    text-align: center;
    background: rgba(160, 23, 68, 0.51);
    color: white;
    font-weight: bold;
    padding: 20px 0;
}

.resistance {
    text-align: center;
    background: rgba(0, 95, 209, 0.51);
    color: white;
    padding: 20px 0;
    font-weight: bold;
}

.observer {
    text-align: center;
    background: #888888;
    color: white;
    padding: 20px 0;
    font-weight: bold;
}

.spy-player {
    background: rgba(160, 23, 68, 0.51);
    border:none;
    color: white;
}

.resistance-player {
    background: rgba(0, 95, 209, 0.75);
    border:none;
    color: white;
}
.possible-imposter-player {
    border:none;
    background: #CCD6DD;
}
.resistence-imposter {
    color: #005FD1;
}
.spy-imposter {
    color: #A01744;
}

.game-option {
    color: #14171A;
    background: #F5F8FA;
    border-color: #CCD6DD;
}

.button-vote-up:after {
    content: ' ⇧';
}
.button-vote-up {
    color: white;
    background: #17BF63;
    border-color: #17BF63;
}

.button-vote-down:after {
    content: ' ⇩';
}
.button-vote-down {
    color: white;
    background: #E0245E;
    border-color: #E0245E;
}
.panel {
    max-width: 600px;
    margin: 0 auto;
}

.ready-initial {
    background: #17BF63;
    color: white;
}

#reset_votes {
    margin: .5em;
}
